### Question 1. Print all elements of a list using for loop.

In [1]:
my_list = [2, 4, 1, 5, 8, 9, 0, 12]
print(type(my_list))

for item in my_list:
    print(item)

<class 'list'>
2
4
1
5
8
9
0
12

### Question 2. Using range(1,101), make two list, one containing all even numbers and other containing all odd numbers.

In [14]:
even_num = []
odd_num = []

for num in range(1,101):
    if num % 2 == 0:  #even numbers are completely divisible by 2 without remainders
        even_num.append(num)
    else:
        odd_num.append(num)
        
print(even_num)
print(odd_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

### Question 3 - A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [3]:
salary = int(input('What is your current salary? '))
year_of_serv = int(input('What is your year of service? '))
bonus = 5/100   #or 0.05

if year_of_serv > 5:
    print('Net bonus amount:', salary*bonus)
else:
    print('No bonus')

What is your current salary? 2000
What is your year of service? 7
Net bonus amount: 100.0

### Question 4 -  Take input of age of 3 people by user and determine oldest and youngest among them.

In [11]:
user1 = int(input('Enter age for user1: '))
user2 = int(input('Enter age for user2: '))
user3 = int(input('Enter age for user3: '))

if (user1 > user2 > user3):
    print('user1 is the oldest and user3 is the youngest')
    
elif (user1 > user2 < user3) & (user1 > user3):
    print('user1 is the oldest and user2 is the youngest')

elif (user3 > user2 > user1):
    print('user3 is the oldest and user1 is the youngest')
    
elif (user3 > user2 < user1) & (user3 > user1):
    print('user3 is the oldest and user2 is the youngest')
    
elif (user2 > user1 > user3):
    print('user2 is the oldest and user3 is the youngest')
    
elif (user2> user1 < user3) & (user2 > user3):
    print('user2 is the oldest and user1 is the youngest')
    
else:
    print('Two or more users are of the same age')

Enter age for user1: 30
Enter age for user2: 12
Enter age for user3: 22
user1 is the oldest and user2 is the youngest

### Question 5 - A school has following rules for grading system:
#### a. Below 25 - F b. 25 to 45 - E c. 45 to 50 - D d. 50 to 60 - C e. 60 to 80 - B f. Above 80 - A
#### Ask user to enter marks and print the corresponding grade.

In [12]:
marks = int(input('Enter marks: '))

if marks < 25:
    print('F')
elif (marks >= 25) & (marks < 45):
    print('E')
elif (marks >= 45) & (marks < 50):
    print('D')
elif (marks >= 50) & (marks < 60):
    print('C')
elif (marks >= 60) & (marks < 80):
    print('B')
else:
    print('A')

Enter marks: 78
B

### Question 6 -  Write a Python script to merge two Python dictionaries

In [6]:
dict1 = {'name':'Amaka', 'age': 12}
dict2 = {'dept':'data science', 'group':'A'}

merged_dict = dict1 | dict2
print(merged_dict)

{'name': 'Amaka', 'age': 12, 'dept': 'data science', 'group': 'A'}

### Question 7 - Write a Python program to remove a key from a dictionary.

In [13]:
dict3 = {'colour':'blue', 'animal':'dog', 'food':'pasta'}
print(dict3)

del dict3['colour']
print(dict3)

{'colour': 'blue', 'animal': 'dog', 'food': 'pasta'}
{'animal': 'dog', 'food': 'pasta'}

In [9]:
dict3.pop('animal')

dict3

{'food': 'pasta'}

### Question 8 - Write a Python program to get the largest number from a list

In [10]:
def max_num_in_list(alist):
    max_num = alist[0]  
    for a in alist:
        if a > max_num:
            max_num = a
    return max_num


max_num_in_list([2, 7, 18, -40, 0, 5])

18